<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master DOM Manipulation: Part 1</title>
    <style>
        .hidden-content {
            display: none;
        }

        .hidden-content.reveal-btn {
            display: block;
        }

        #sports {
            padding-left: 0;
        }

        #sports li {
            list-style: none;
            padding: .5rem 1rem;
            border: 1px solid black;
            width: 50%;
            text-align: center;
            margin: .5rem 0rem;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 id="main-heading">Favourite Movie Franchise</h1>
        <ul>
            <li class="list-items">
                <span>Neo</span>The Matrix
            </li>
            <li class="list-items">Star Wars</li>
            <li class="list-items">Harry Potter</li>
            <li class="list-items">Lord of the Rings</li>
            <li class="list-items">Marvel</li>
        </ul>

        <div class="boxes box-1">
            <h1 id="heading">Example 1</h1>
            <button onclick="alert('I Love JavaScript')">Enter</button>
        </div>
        <div class="boxes box-2">
            <h1 id="heading">Example 2</h1>
            <button class="btn-2">Enter</button>
        </div>
        <div class="boxes box-3">
            <h1 id="heading">Example 3</h1>
            <button class="reveal-btn">Enter</button>
            <div class="hidden-content boxes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam earum beatae ratione distinctio?
                Expedita aut quo consequatur soluta odit earum quibusdam porro consequuntur odio recusandae
                reprehenderit distinctio velit, ipsam a.
            </div>
        </div>
        <a class="button" href="">Click</a>

        <ul id="sports">
            <li id="football">Football</li>
            <li id="basketball">Basketball</li>
            <li id="boxing">Boxing</li>
            <li id="tennis">Tennis</li>
            <li id="golf">Golf</li>
        </ul>
    </div>

    <script src="../assets/dom-pt1.js"></script>
</body>

</html>